@tailwind base;
@tailwind components;
@tailwind utilities;

.navcol:hover svg path {
  fill: #B88E2F;
  stroke: #B88E2F;
}

.bg-img {
  background-image: url('../images/background.png');
} 

.c-img:hover p {
  color: #B88E2F;
}

.over a:hover svg path {  
  stroke: #B88E2F;
  fill: #B88E2F;}

@media (max-width: 640px) {
  .small {
      margin-top: 50px;
      margin-right: 20px;
      margin-bottom: 50px;
      margin-left: 10px;
  }
}
